.projectContainer {
    display: flex;
    flex-direction: column;
    width: 100em;
    background-color: aliceblue;
    padding: 2em;
    margin: auto;
}


a {
    color: black;
    text-decoration: none;
}

a:link :visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.projectList {
    display: flex;
    flex-direction: row;
    max-width: 60em;

    flex-wrap: wrap;
}

.projectLink {
    display: flex;
}

.project {
    width: 10em;
    height: 5em;
    border-radius: 5px;
    padding-left: 1em;
    padding-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
}

button {
    width: 5em;
    height: 2em;
    background-color: rgb(42, 215, 42);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    border: 0;
}